*{
    margin: 0%;
    padding: 0%;
    margin: 0%;
}

.v-nav{
    background-color: rgb(55, 54, 56);
    width: 15%;
    height: 100vh;
}

#b1{
    background-color: rgb(130, 34, 219);
    width: 5cm;
    text-align: left;
    padding-top: 0.6cm;
    padding-bottom: 0.6cm;
    
}

@keyframes fadeIn {
    from{

        opacity: 0;
    }

    to{
        opacity: 1;
    }
    
}
.fade-in{
     
    animation: fadeIn 6s;

}